<div class="center">
    <h3>Destino</h3>
    <div class="d-flex flex-row">
        <p-dropdown  styleClass="p-button-raised p-button-text p-button-success" appendTo="body" [filter]="true" [options]="cities" [(ngModel)]="selectedCity"
            placeholder="Select a City" optionLabel="name" [style]="{ marginRight: '1rem', width: '100%' }"></p-dropdown>
            <p-button icon="pi pi-search" (click)="filter()" styleClass="p-button-success"><i class="fa-solid fa-magnifying-glass"></i></p-button>

    </div>
</div>

<div class="d-flex flex-column align-content-center justify-content-center">
    <div>
        <swiper [config]="swiperConfig">
            <ng-template swiperSlide *ngFor=" let usuario of resultados">
                <div class=" swiper slide-container1">
                    <div class="slide-content slide-content1">
                        <div class="profile-card mb-4">
                            <div class="image">
                                <img [src]="url+usuario.imagen" alt="" class="profile-pic">
                            </div>
                              
                            <div class="data">
                                <h2>{{usuario.nombres +' '+ usuario.apellidos}}</h2>
                                <p-scrollPanel [style]="{ width: '100%', height: '75px' }">
                                    <span>
                                      {{usuario.descripcion}}
                                    </span>
  
                                  </p-scrollPanel>
                            </div>
                            <div class="d-flex flex-row">
                                <div class="info m-3">
                                    <h3>Edad</h3>
                                    <span>21</span>
                                </div>
                                <div class="info m-3">
                                    <h3>Destino</h3>
                                    <span> {{usuario.destino}}</span>
                                </div>
                            </div>
                            <div class="buttons">
                                <a href="#" class="btn">Mensaje</a>
                                <a href="#" class="btn">Invitar</a>
                            </div>
                        </div>

                    </div>
                </div>

            </ng-template>

        </swiper>
    </div>
</div>



<!--
           <div class="d-flex flex-column m-1">
           
            <div class="d-flex flex-row p-2">
                <p-dropdown appendTo="body" [filter]="true" [options]="cities" [(ngModel)]="selectedCity"
                    placeholder="Select a City" optionLabel="name" [style]="{ marginRight: '1rem' }"></p-dropdown>
        
                <p-button label="Buscar" (click)="filter()"></p-button>
        
            </div>
       
        </div>
    -->