.card-ajustable{
    width: 95vw !important;
}
.ajustable{
    display: flex;
    justify-content: center;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }

.ajustes{
    color: black;
    font-weight: 700;
    text-align: center;
}
.edit{
    display: flex;
    justify-content: center;
    background: rgba(255, 255, 255, 0.15);
    border-radius: 2rem;
    background-color: #ecf0f3;
    cursor: default;
    transition: all 400ms ease;
}

.edit:hover{
    border-radius: 2rem;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #ffffff;
    transform: translateY(-4%);
}
.color_backPrestamos{
    font-weight:bold;
    border-radius: 10px;
    color: #ffffff;
    background: rgb(43, 81, 90);
}
.color_backRenovaciones{
    font-weight:bold;
    border-radius: 10px;
    color: #ffffff;
    background: rgb(30, 78, 20);
}
.color_backDevoluciones{
    font-weight:bold;
    border-radius: 10px;
    color: #ffffff;
    background: rgb(184, 71, 71);
}

.search_User{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    width: 100%;
}

.tittle{
    text-align: center;
}

.center_observaciones{
    display: flex;
    flex-direction: column;
    justify-content: center;
}