<div class="ajustable mt-2">
    <div class="card card-ajustable">
        <div class="card-body B">
            <h3 class="m-2 text-uppercase d-flex justify-content-center ">CONSULTA</h3>

            <div class="p-inputgroup mt-2 mb-2">
                <span class="p-float-label">
                    <input pInputText id="username" [style]="{'width':'100%'}" />
                    <label htmlFor="username">Escribe número de cliente, número de adquisición, o número de registro</label>
                </span>
                <p-button styleClass="p-button-raised p-button-text p-button-success"> <img 
                    src="../../assets/buscando.png" width="30px"></p-button>
            </div>
          
            <form class="row g-3">
          

                <div class="col-md-4 ">
                    <div class="p-inputgroup"> 
                        <label for="">Tipo de registro
                      <br> a visualizar: </label>
                   <p-dropdown [options]="cities" [(ngModel)]="tipo" optionLabel="name" name="tipo"
                       [style]="{'width':'100%'}"></p-dropdown>
                   </div>
                </div>

                <div class="col-md-4">
                    <div class="col-auto">
                        <p-calendar [showIcon]="true" [showButtonBar]="true" [style]="{'width':'100%'}"></p-calendar>
                    </div>
                </div>

              
                <button type="button" class="btn btn-success" data-bs-toggle="modal"
                    data-bs-target="#prestaActualModal">PRESTAMOS ACTUALES POR USUARIO</button>
            </form>
        </div>


        <!--
    -------------------------------------------------------------------------------------------------
    -----------------------------------------INICIA TABLA--------------------------------------------
    -------------------------------------------------------------------------------------------------
    -->

        <div class="card-body mt-3">


            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr style="text-align: center;">
                            <th scope="col">Ver</th>
                            <th scope="col">Fecha de registro</th>
                            <th scope="col">Número de registro</th>
                            <th scope="col">Tipo de registro</th>
                            <th scope="col">Número de adquisión</th>
                            <th scope="col">Número de usuario</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="ajustes">
                            <th scope="row">
                                <a class="edit">
                                    <img src="https://img.icons8.com/?size=512&id=43965&format=png" width="30px"
                                        data-bs-toggle="modal" data-bs-target="#prestamosModal">
                                </a>
                            </th>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td class="color_backPrestamos">Prestamos</td>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td></td>

                        </tr>
                        <tr class="ajustes">
                            <th scope="row">
                                <a class="edit">
                                    <img src="https://img.icons8.com/?size=512&id=43965&format=png" width="30px"
                                        data-bs-toggle="modal" data-bs-target="#renovacionesModal">
                                </a>
                            </th>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td class="color_backRenovaciones">Renovaciones</td>
                            <td>Cell</td>
                            <td>Cell</td>
                        </tr>
                        <tr class="ajustes">
                            <th scope="row">

                                <a class="edit">
                                    <img src="https://img.icons8.com/?size=512&id=43965&format=png" width="30px"
                                        data-bs-toggle="modal" data-bs-target="#devolucionesModal">
                                </a>
                            </th>
                            <td>Cell</td>
                            <td>Cell</td>
                            <td class="color_backDevoluciones">Devoluciones</td>
                            <td>Cell</td>
                            <td>Cell</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!--TERMINA TABLA-->
        </div>
    </div>


    <!--
------------------------------------------------------------------------------------------------------
---------------------------------------INICIO DE MODALES----------------------------------------------
------------------------------------------------------------------------------------------------------
-->



    <!--MODAL PRESTAMOS-->

    <div class="modal fade" id="prestamosModal" tabindex="-1" aria-labelledby="prestamosModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">PRESTAMOS</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2 class="tittle">Información del prestario</h2>
                    <h5>Nombre:</h5>
                    <p>Alejandro uriel</p>
                    <h5>Numero de control:</h5>
                    <p>20530202</p>

                    <h2 class="tittle">Información del libro</h2>
                    <h5>Número de adquisición:</h5>
                    <p>255569</p>
                    <h5>Titulo:</h5>
                    <p>Alicia y los pitufos</p>
                    <h5>Autor:</h5>
                    <p>Leonardo Davinci</p>
                    <h5>Clasificación:</h5>
                    <p>Ciencias e ingenierias</p>
                    <h5>Fecha salida</h5>
                    <p>15-may-2023</p>
                    <h5>Fecha Entrada</h5>
                    <p>10-may-2023</p>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!--MODAL RENOVACIONES-->

    <div class="modal fade" id="renovacionesModal" tabindex="-1" aria-labelledby="renovacionesModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">RENOVACIONES</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h2 class="tittle">Información del prestario</h2>
                    <h5>Nombre:</h5>
                    <p>Alejandro uriel</p>
                    <h5>Numero de control:</h5>
                    <p>20530202</p>

                    <h2 class="tittle">Información del libro</h2>
                    <h5>Número de adquisición:</h5>
                    <p>255569</p>
                    <h5>Titulo:</h5>
                    <p>Alicia y los pitufos</p>
                    <h5>Autor:</h5>
                    <p>Leonardo Davinci</p>
                    <h5>Clasificación:</h5>
                    <p>Ciencias e ingenierias</p>
                    <h5>Fecha salida</h5>
                    <p>15-may-2023</p>
                    <h5>Fecha Entrada</h5>
                    <p>10-may-2023</p>
                    <h5>Cantidad de renovaciones</h5>
                    <p>5</p>
                    <h5>Fecha entrega final</h5>
                    <p>20-may-2023</p>

                </div>


                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!--MODAL DEVOLUCIONES-->
    <div class="modal fade" id="devolucionesModal" tabindex="-1" aria-labelledby="devolucionesModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">DEVOLUCIONES</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">

                    <h2 class="tittle">Información del prestario</h2>
                    <h5>Nombre:</h5>
                    <p>Alejandro uriel</p>
                    <h5>Numero de control:</h5>
                    <p>20530202</p>

                    <h2 class="tittle">Información del libro</h2>
                    <h5>Número de adquisición:</h5>
                    <p>255569</p>
                    <h5>Titulo:</h5>
                    <p>Alicia y los pitufos</p>
                    <h5>Autor:</h5>
                    <p>Leonardo Davinci</p>
                    <h5>Clasificación:</h5>
                    <p>Ciencias e ingenierias</p>
                    <h5>Fecha salida</h5>
                    <p>15-may-2023</p>
                    <h5>Fecha de entrega inicial</h5>
                    <p>10-may-2023</p>
                    <h5>Cantidad de renovaciones</h5>
                    <p>5</p>
                    <h5>Fecha entrega final</h5>
                    <p>20-may-2023</p>
                    <h5>Fecha de devolución</h5>
                    <p>20-may-2023</p>
                    <div class="center_observaciones">
                        <h4 class="tittle">Observaciones</h4>
                        <textarea cols="50" rows="5" disabled>el usuario ha devuelto el libro # día(s) posteriores a
                            la fecha de entrega dd/mm/aaaa”.</textarea>
                    </div>


                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>



<!-- MODAL BOTON PRESTAMOS ACTUALES-->
<div class="modal fade" id="prestaActualModal" tabindex="-1" aria-labelledby="prestaActualModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="prestaActualModalLabel">PRESTAMOS ACTUALES POR USUARIO</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="search_User">
                    <div class="input-group mb-3" style="width: 80%;">
                        <div class="form-floating">
                            <input type="text" class="form-control" id="floatingInputGroup1" placeholder="20530202"
                                style="
                                border-radius: 25px 0 0 25px;
                                ">
                            <label for="floatingInputGroup1" style="text-align: center;">No. Control</label>
                        </div>
                        <span class="input-group-text" style="
                            border-radius: 0 0 13px 0;
                            "><a href=""><img
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ244V37ZO6QMFY1iuTKgtwcdWqw_mmrs3P9w&usqp=CAU"
                                    width="35px"></a></span>
                    </div>
                </div>
                <div class="user-Data">

                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr style="text-align: center;">
                                    <th scope="col">Número de préstamo</th>
                                    <th scope="col">Número de adquisición</th>
                                    <th scope="col">Titulo</th>
                                    <th scope="col">Autor</th>
                                    <th scope="col">Fecha de salida</th>
                                    <th scope="col">Fecha de entrega</th>
                                    <th scope="col">Cantidad de renovaciones</th>
                                    <th scope="col">Fecha de entrega final</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="ajustes">
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Prestamos</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>

                                </tr>
                                <tr class="ajustes">
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Prestamos</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                </tr>
                                <tr class="ajustes">
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Prestamos</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                    <td>Cell</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>