<nav class="navbar fixed-top bg-body-tertiary mb" style=" box-shadow: 5px 5px 10px rgba(0,0,0,0.4)">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <img class="img-responsive" src="../../assets/ConoceMeXnavbar.jpeg" alt="TECNM">
    
    <div class="d-flex justify-content-center align-items-center">
     
      <p-button (click)="op.toggle($event)" styleClass="p-button-raised p-button-text p-button-success" [style]="{ 'height': '3.6rem' }">
        <p-tag severity="success" value="{{ 'AVISO.VERIFICADO' | translate }}" [style]="{ 'margin-right': '0.8rem' }"><i class="fa-regular fa-circle-check me-2"></i></p-tag>
        <p-avatar image="{{url+photo}}" size="large" shape="circle"></p-avatar>
      </p-button>
      
    </div>




    <div class="offcanvas offcanvas-start param" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel"
      data-bs-backdrop="false"
      style="overflow: hidden; transition: all 0.4s ease-in-out;">
      <div class="offcanvas-header">
        <img src="../../assets/imgsNav/tren.png" alt="Bootstrap" width="40" class="ms-2">
        <h5 class="offcanvas-title" id="offcanvasNavbarLabel"> Bienvenido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3" style="margin-top: 2rem;">
          <li class="nav-item agree">
            <a class="nav-link active  " aria-selected="true" aria-current="page" routerLink="grupos"
              routerLinkActive="active" style=" margin-left: 1.5rem;" data-bs-dismiss="offcanvas" aria-label="Close"><img class="me-4"
              src="../../assets/imgsNav/tinder.png"
              width="30px">Grupos</a>
          </li>
          <li class="nav-item agree">
            <a class="nav-link " aria-selected="false" aria-current="page" routerLink="map"
              routerLinkActive="active" style=" margin-left: 1.5rem;" data-bs-dismiss="offcanvas" aria-label="Close"><img class="me-4"
              src="../../assets/imgsNav/mapa.png"
              width="30px">Mapa interactivo</a>
          </li>
          <li class="nav-item agree">
            <a class="nav-link " aria-selected="false" aria-current="page" routerLink="lugaresCercanos"
              routerLinkActive="active" style=" margin-left: 1.5rem;" data-bs-dismiss="offcanvas" aria-label="Close"><img class="me-4"
              src="../../assets/imgsNav/cercano.png"
              width="30px">Lugares cercanos</a>
          </li>

          <li class="nav-item agree">
            <a class="nav-link " aria-selected="false" aria-current="page" routerLink="tucansitoGuia"
              routerLinkActive="active" style=" margin-left: 1.5rem;" data-bs-dismiss="offcanvas" aria-label="Close"><img class="me-4"
              src="../../assets/imgsNav/tucan.png"
              width="30px">Mi tucan guía</a>
          </li>

          
        

          
        </ul>

        <div class="d-grid gap-2" style="margin-top: 7rem;">
          <button class="btn btn-danger agree " type="button" (click)="exit()">LOG OUT <img class="ms-3"
            
            src="../../assets/imgsNav/log-out.png"
            width="20px"></button>

        </div>
      </div>

    </div>
  </div>
</nav>



<p-overlayPanel #op>

  <div class="d-flex flex-column justify-content-center align-items-center">
    <p-avatar image="{{url+photo}}" size="xlarge" shape="circle"></p-avatar>
    <p-tag severity="success" value="{{ 'AVISO.VERIFICADO' | translate }}" [style]="{ 'margin-bottom': '0.8rem' }"><i class="fa-regular fa-circle-check me-2"></i></p-tag>
    <h5>{{nameUser + " " + lastUser}}</h5>
    <h5>Destino: {{fromUser}}</h5>
    <h5>Edad: {{age}}</h5>
    <div class="d-flex flex-column justify-content-center  align-items-center mb-3">
      <h5>{{ 'AVISO.SELECT' | translate }}</h5>
      <p-dropdown [options]="cities" [(ngModel)]="selectedCity" optionLabel="name" optionValue="code" (onClick)="selectLang()"></p-dropdown>
  </div>
  </div>
</p-overlayPanel>

