<div class="flex flex-column align-content-center justify-content-center p-2">
    <h1 class="flex justify-content-center text-tittle">Tours</h1>

    <div>
        <swiper [config]="swiperConfig">
            <ng-template swiperSlide *ngFor="let lugar of respuesta">
                <div class="slide-container swiper slide-container1">
                    <div class="slide-content slide-content1">
                        <div class="card-wrapper swiper-wrapper">
                            <div class="card mt-3" style="width: 18rem;">
                                <img [src]="url+lugar.imagenes" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{lugar.nombre}}</h5>
                                    <p class="card-text"> <strong>Horario:</strong> {{lugar.horario}}</p>
                                    <p><strong>Dirección: </strong> {{lugar.direccion}}</p>
                                    <p>{{lugar.descripcion}}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </swiper>
    </div>
</div>




<!--

    

-->
