<div class="flex flex-column align-content-center justify-content-center p-2">
    <h1 class="flex justify-content-center text-tittle">Tours</h1>

    <div class="d-flex flex-row-reverse">
        <p-button label="Promocionar mi tour" (click)="showTour()" styleClass="p-button-raised p-button-text p-button-help"></p-button>

    </div>

    <div>
        <swiper [config]="swiperConfig">
            <ng-template swiperSlide *ngFor="let lugar of respuesta">
                <div class="slide-container swiper slide-container1">
                    <div class="slide-content slide-content1">
                        <div class="card-wrapper swiper-wrapper">
                            <div class="card mt-3" style="width: 18rem;">
                                <img [src]="url+lugar.imagenes" class="card-img-top" alt="...">
                                <div class="card-body">
                                    <h5 class="card-title">{{lugar.nombre}}</h5>
                                    <p class="card-text"> <strong>Horario:</strong> {{lugar.horario}}</p>
                                    <p><strong>Dirección: </strong> {{lugar.direccion}}</p>
                                    <p>{{lugar.descripcion}}</p>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </swiper>
    </div>
</div>



<p-dialog header="Contactanos" [(visible)]="visible" [modal]="true" [style]="{ width: '450px' }" styleClass="p-fluid">
    <div class="d-flex flex-column justify-content-center align-items-center">
        <h3 style="text-align: center;" class="mb-4">¡Gracias por mostrar interés en ConoceMeX!</h3>
        <h5 style="text-align: justify;" class="mb-4">Por favor, no dudes en ponerte en contacto con nosotros para obtener más información 
        sobre como publicar tu tour y el proceso de solicitud. 
        Puedes enviarnos un correo electrónico a:</h5>
        <h5 style="text-align: center;">ConoceMeX.tecnm@mexicoLaboral.com</h5>
    </div>
    
</p-dialog>
<!--

    

-->
