<!--CONSULTAS-->
<div class="card mt-3 p-3">
    <div class="card-body">
        <h3 class="m-2 text-uppercase d-flex justify-content-center ">CONSULTAS</h3>

        <form class="row g-3">
            <div class="col-md-4">
                <div class="col-auto">
                    <span class="p-float-label">
                        <input pInputText id="username" [style]="{'width':'100%'}" />
                        <label htmlFor="username">BUSCAR</label>
                    </span>
                </div>
                <small id="username-help">Ingresa número de ficha,título, autor, fecha, tema.
                </small>
            </div>

            <div class="col-md-4">
                <div class="col-auto">
                    <p-dropdown [options]="tipos" [(ngModel)]="tipo" (click)="filterDoc()" optionLabel="name"
                        name="tipo" [style]="{'width':'100%'}"></p-dropdown>
                </div>
            </div>

            <div class="col-md-4">
                <p-button label="Buscar" [style]="{'width':'60%'}" (click)="search()"></p-button>
            </div>

        </form>
    </div>

    <p-table [value]="products" selectionMode="single" [(selection)]="selectedProduct" [paginator]="true" [rows]="5"
        (onRowSelect)="search()" [showCurrentPageReport]="true" dataKey="code" styleClass="p-datatable-gridlines"
        [tableStyle]="{ 'min-width': '50rem' }">
        <ng-template pTemplate="caption">
            <div class="row g-3 m-1">
                <div class="col-md-3">
                    <div class="col-auto">
                        <span class="p-float-label">
                            <input pInputText id="username" [style]="{'width':'100%'}" class="p-inputtext-sm"/>
                            <label htmlFor="username">{{campo1}}</label>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-auto">
                        <span class="p-float-label">
                            <input pInputText id="username" [style]="{'width':'100%'}" class="p-inputtext-sm"/>
                            <label htmlFor="username">{{campo2}}</label>
                        </span>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="col-auto">
                        <span class="p-float-label">
                            <input pInputText id="username" [style]="{'width':'100%'}" class="p-inputtext-sm"/>
                            <label htmlFor="username">{{campo3}}</label>
                        </span>
                    </div>
                </div>
                <div class="col-md-3" [ngClass]="{'d-none' : this.tipo == this.tipos[0]}">
                    <div class="col-auto">
                        <span class="p-float-label">
                            <input pInputText id="username" [style]="{'width':'100%'}" class="p-inputtext-sm"/>
                            <label htmlFor="username">{{campo4}}</label>
                        </span>
                    </div>
                </div>
                <div>
                    <div class="col-auto d-none"  [ngClass]="{'visible' : this.tipo == this.tipos[1]}">
                        <span class="p-float-label">
                            <input pInputText id="username" [style]="{'width':'100%'}" class="p-inputtext-sm" />
                            <label htmlFor="username">Editorial</label>
                        </span>
                    </div>
                </div>
            </div>
              
            
           <!-- <p-dropdown [options]="tipos2" [(ngModel)]="tipo2" optionLabel="name" name="tipo"
                [style]="{'width':'100%'}"></p-dropdown>-->
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th>Número de ficha</th>
                <th>Título</th>
                <th>Autor(es)</th>
                <th>Fecha</th>
                <th>Tema(s)</th>
                <th>Ejemplares
                    disponibles actualmente para préstamo</th>
                <th>Ejemplares totales</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product>
            <tr [pSelectableRow]="product">
                <td>{{ product.code }}</td>
                <td>{{ product.name }}</td>
                <td>{{ product.category }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.quantity }}</td>
                <td>asdsadas</td>
            </tr>
        </ng-template>
    </p-table>

</div>





<!--MODAL LIBROS-->

<p-dialog header="Libros" [(visible)]="visibleBook" [draggable]="false" [modal]="true" [maximizable]="true"
    [style]="{width: '98vw', height: '100vh'}">
    <!--DATOS ESPECIFICOS-->
    <app-modal-books></app-modal-books>
</p-dialog>



<!--MODAL TESIS-->

<p-dialog header="Tesis" [(visible)]="visibleTesis" [draggable]="false" [modal]="true" [maximizable]="true"
    [style]="{width: '98vw', height: '100vh'}">
    <app-modal-tesis></app-modal-tesis>
</p-dialog>



<!--MODAL PUBLICACIONES PERIODICAS-->

<p-dialog header="Publicaciones periódicas" [(visible)]="visibleNews" [draggable]="false" [modal]="true" [maximizable]="true"
    [style]="{width: '98vw', height: '100vh'}">
    <app-modal-publicaciones></app-modal-publicaciones>
</p-dialog>