.style__body{
    display: flex;
    flex-direction: row;
}
.style_Card h3{
   text-align: center;
   height: 25vh;
}

.visible{
    display: block !important;
}


@media screen and (max-width: 768px) {
    .style_Card{
        width: 95% !important;
    }
}
