

  <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active shadowAni" id="nav-loans-tab" data-bs-toggle="tab" data-bs-target="#v-pills-loans" type="button" role="tab" aria-controls="nav-loans" aria-selected="true">Viajeros</button>
      <button class="nav-link shadowAni" id="nav-repayments-tab" data-bs-toggle="tab" data-bs-target="#v-pills-repayments" type="button" role="tab" aria-controls="v-pills-repayments" aria-selected="false">Grupos</button>
    
    </div>
  </nav>
    
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-loans" role="tabpanel" aria-labelledby="v-pills-loans-tab" tabindex="0"> <app-viajero></app-viajero> </div>
      <div class="tab-pane fade" id="v-pills-repayments" role="tabpanel" aria-labelledby="v-pills-repayments-tab" tabindex="0"> <app-grupos></app-grupos> </div>


    </div>