
<div class="card">
  <p-tabView styleClass="tabview-custom">
    <p-tabPanel>
      <ng-template pTemplate="header">
        <i class="fa-solid fa-user me-1"></i>
        <span>Usuarios</span>
      </ng-template>
      <app-viajero></app-viajero>

    </p-tabPanel>
    <p-tabPanel header="Header II">
      <ng-template pTemplate="header">
        <i class="fa-solid fa-fire me-1"></i>
        <span>Grupos</span>
      </ng-template>
      <app-grupos></app-grupos>
    </p-tabPanel>
  </p-tabView>
</div>