

    <!--
    <div class="nav flex-column nav-pills me-3  d-none d-sm-block" id="v-pills-tab" role="tablist" aria-orientation="vertical">
      <button class="nav-link active shadowAni" id="v-pills-loans-tab" data-bs-toggle="pill" data-bs-target="#v-pills-loans" type="button" role="tab" aria-controls="v-pills-loans" aria-selected="true">Préstamos</button>

      <button class="nav-link shadowAni" id="v-pills-repayments-tab" data-bs-toggle="pill" data-bs-target="#v-pills-repayments" type="button" role="tab" aria-controls="v-pills-repayments" aria-selected="false">Devoluciones</button>

      <button class="nav-link shadowAni" id="v-pills-renovaciones-tab" data-bs-toggle="pill" data-bs-target="#v-pills-renovaciones" type="button" role="tab" aria-controls="v-pills-renovaciones" aria-selected="false">Renovaciones</button>

      <button class="nav-link shadowAni" id="v-pills-consulta-tab" data-bs-toggle="pill" data-bs-target="#v-pills-consulta" type="button" role="tab" aria-controls="v-pills-consulta" aria-selected="false">Consulta</button>

    </div>-->
    <nav>
    <div class="nav nav-tabs" id="nav-tab" role="tablist">
      <button class="nav-link active shadowAni" id="nav-loans-tab" data-bs-toggle="tab" data-bs-target="#v-pills-loans" type="button" role="tab" aria-controls="nav-loans" aria-selected="true">Préstamos</button>
    
      <button class="nav-link shadowAni" id="nav-repayments-tab" data-bs-toggle="tab" data-bs-target="#v-pills-repayments" type="button" role="tab" aria-controls="v-pills-repayments" aria-selected="false">Devoluciones</button>
    
      <button class="nav-link shadowAni" id="nav-renovaciones-tab" data-bs-toggle="tab" data-bs-target="#v-pills-renovaciones" type="button" role="tab" aria-controls="v-pills-renovaciones" aria-selected="false">Renovaciones</button>
    
      <button class="nav-link shadowAni" id="nav-consulta-tab" data-bs-toggle="tab" data-bs-target="#v-pills-consulta" type="button" role="tab" aria-controls="v-pills-consulta" aria-selected="false">Consulta</button>
    
    </div>
  </nav>
    
    <div class="tab-content" id="v-pills-tabContent">
      <div class="tab-pane fade show active" id="v-pills-loans" role="tabpanel" aria-labelledby="v-pills-loans-tab" tabindex="0"><app-loans></app-loans></div>
      <div class="tab-pane fade" id="v-pills-repayments" role="tabpanel" aria-labelledby="v-pills-repayments-tab" tabindex="0"><app-repayments></app-repayments></div>
      <div class="tab-pane fade" id="v-pills-renovaciones" role="tabpanel" aria-labelledby="v-pills-renovaciones-tab" tabindex="0"><app-renovations></app-renovations></div>
      <div class="tab-pane fade" id="v-pills-consulta" role="tabpanel" aria-labelledby="v-pills-consulta-tab" tabindex="0"><app-consultation></app-consultation></div>
    </div>
  
  

