

    <p-dock [model]="items" [position]="position" [style]="{'position':'fixed', 'background-color':'white', 'height':'4.5rem', 'z-index':'4'}">
        <ng-template pTemplate="item" let-item >
            <img [src]="item.icon" [alt]="item.label" width="50%" />
        </ng-template>
    </p-dock>

    <p-dialog [blockScroll]="true" [showHeader]="false" [(visible)]="viewChat" [modal]="true" [style]="{ width: '85vw', height: '80vh' }"
    styleClass="p-fluid">

    <app-tucansito-guia></app-tucansito-guia>
    </p-dialog>