<div class="center">
    <p-button label="Crear grupo" (click)="showRegisterGroup()"
        styleClass="p-button-raised p-button-text p-button-success"></p-button>
</div>

<div class="d-flex flex-column align-content-center justify-content-center p-4">
    <div>
        <swiper [config]="swiperConfig">
            <ng-template swiperSlide *ngFor=" let grupo of grupos">
                <div class=" swiper slide-container1">
                    <div class="slide-content slide-content1">
                        <p-card header="{{grupo.nombre}}" [style]="{ width: '340px' }">
                            <ng-template pTemplate="header">
                                <img alt="Card" [src]="urlGrupos+grupo.photo" width="100%" height="250px" style="border-radius: 5px;"/>
                            </ng-template>
                            <h5 class="card-text" style="font-weight: bold;">Destino: {{grupo.destino}}</h5>

                            <ng-template pTemplate="footer">
                                <p-button label="Ver grupo" styleClass="p-button-raised p-button-text p-button-help"  (click)="showgroup(grupo.id)" src = `${grupo.id}`></p-button>
                                <p-button label="Unirse" styleClass="p-button-raised p-button-text p-button-success" (click)="unirse(grupo.id)"
                                    [style]="{ 'margin-left': '.5em' }"></p-button>
                                </ng-template>
                        </p-card>
                        
                      
                    </div>
                </div>
            </ng-template>
        </swiper>
    </div>
</div>


<p-dialog header="Header" [(visible)]="visible" [modal]="true" [style]="{ width: '450px' }" styleClass="p-fluid">
    <ng-template pTemplate="header">
        <h1 class="text-xl font-bold" style="font-weight: bold;">{{nombreGrupo}}</h1>
    </ng-template>
    <h3  style="text-align: center;">DESTINO: <h3>{{destino}}</h3></h3>
    <div class="mb-3 d-flex justify-content-center align-items-center">
        <img alt="Card" [src]="urlGrupos+foto"  width="50%" style="border-radius: 50%; height: 25vh;"/>
    </div>
    <h4 class="mb-2">Integrantes</h4>
    <ul *ngFor="let usuario of usuarios">
        <li style="list-style:none;">
            <div class="usuarios align-items-center">
                <p-avatar image="{{url+usuario.imagen}}" size="large" styleClass="mr-1" shape="circle"></p-avatar>
                <h4 class="ms-2">{{usuario.nombres}} {{usuario.apellidos}}</h4>  
            </div>
           
        </li>
    </ul>

    <ng-template pTemplate="footer">
        <p-button label="Charla" styleClass="p-button-success p-button-text" (click)="messages()"><i
                class="fa-solid fa-comments"></i></p-button>
        <p-button (click)="viewllamada = true" label="Llamada" styleClass="p-button-danger p-button-text"><i
                    class="fa-solid fa-phone"></i></p-button>
        <p-button icon="pi pi-check" (click)="visible = false" label="Cerrar" styleClass="p-button-text"><i
                class="fa-solid fa-xmark"></i></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Header" [(visible)]="visible2" [draggable]="false" [modal]="true" [style]="{ width: '450px' }"
    styleClass="p-fluid">
    <ng-template pTemplate="header">
        <h1 class="text-xl font-bold" style="font-weight: bold;">Crear grupo</h1>
    </ng-template>

    <div class="d-flex justify-content-center align-items-center mb-3">
        <ngx-dropzone class="user" (change)="onSelect($event)" [multiple]="false" accept="image/jpeg,image/jpg,image/png">
          <ngx-dropzone-label>Usuario</ngx-dropzone-label>
          <ngx-dropzone-image-preview [removable]="true" (removed)="onRemove(f)" ngProjectAs="ngx-dropzone-preview"
            *ngFor="let f of files" [file]="f">
          </ngx-dropzone-image-preview>
        </ngx-dropzone>
      </div>

    <div class="field mb-3 mt-4">
        <div class="d-flex flex-column mt-2">
            <label for="name">Nombre</label>
            <input type="text" pInputText [(ngModel)]="nombre" required />
        </div>
    </div>

    <span class="d-flex flex-column mt-2">
        <label for="password">Destino</label>
        <p-dropdown appendTo="body" [options]="cities" [(ngModel)]="selectedCity" placeholder="Select a City"
            optionLabel="name" [style]="{'width':'100%'}" [filter]="true" filterBy="cities"></p-dropdown>
    </span>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="registerGroup()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>


<p-dialog [blockScroll]="true" [showHeader]="true" [(visible)]="viewChat" [modal]="true" [style]="{ width: '450px' }"
    styleClass="p-fluid">
    <app-chat-grupal></app-chat-grupal>

</p-dialog>

<p-dialog [resizable]="true" [maximizable]="true" [showHeader]="true" [(visible)]="viewllamada" [modal]="true" [style]="{ width: '480px', height: '90vh'}"
    styleClass="p-fluid">
    <iframe  src="http://localhost:50946/" style="width: 100%; height: 100%;"
    allow="camera; accelerometer; vr"> Your browser does not support embedded content </iframe>

</p-dialog>



<!--

      <div class="card mt-3" style="width: 18rem;">
                            <img src="../../assets/playa.jpg" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{grupo.nombre}}</h5>
                                <p class="card-text" style="font-weight: bold;">Destino: {{grupo.destino}}</p>
                                <p-button label="Ver grupo" (click)="showgroup(grupo.id)" src = `${grupo.id}`></p-button>
                                <p-button label="Unirse" (click)="unirse(grupo.id)" styleClass="p-button-secondary"
                                    [style]="{ 'margin-left': '.5em' }"></p-button>
                            </div>
                        </div>
-->