
<div class="card d-flex flex-column align-items-center card-size">

    <p-button label="Crear grupo" (click)="showRegisterGroup()" [style]="{ marginTop: '1rem' }"></p-button>
    <div class="card mt-3" style="width: 18rem;" *ngFor="let grupo of grupos">
        <img src="../../assets/playa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{grupo.nombre}}</h5>
            <p class="card-text" style="font-weight: bold;">Destino: {{grupo.destino}}</p>
                <p-button label="Ver grupo" (click)="showgroup(grupo.id)"></p-button>
                <p-button label="Unirse" (click)="unirse(grupo.id)" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
   
        </div>
    </div>
    
    <h1 class="mt-6 mb-8">Fin de los resultados</h1>
</div>

<p-dialog header="Header" [(visible)]="visible" [draggable]="false" [modal]="true" [style]="{ width: '90vw' }">
    <ng-template pTemplate="header">
        <h1 class="text-xl font-bold" style="font-weight: bold;">{{nombreGrupo}}</h1>
    </ng-template>
    <h3>{{destino}}</h3>
    <h5>Participantes</h5>
    <ul *ngFor="let usuario of usuarios">
        <li>{{usuario.nombres}} {{usuario.apellidos}}</li>
    </ul>
  <div class="d-flex flex-row"></div>
    <p-button label="Charla" routerLink="chatGrupal" [style]="{ marginRight: '1rem' }"></p-button>
    <a href="http://localhost:52730/"><p-button label="Llamada" ></p-button></a>

    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="visible = false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>

<p-dialog header="Header" [(visible)]="visible2" [draggable]="false" [modal]="true" [style]="{ width: '90vw' }">
    <ng-template pTemplate="header">
        <h1 class="text-xl font-bold" style="font-weight: bold;">Crear grupo</h1>
    </ng-template>
    <div class="field mb-3 mt-4">
        <div class="d-flex flex-column mt-2">
            <label for="name">Nombre</label>
            <input type="text" pInputText [(ngModel)]="nombre" required />
        </div>
    </div>

    <span class="d-flex flex-column mt-2">
        <label for="password">Destino</label>
        <p-dropdown appendTo="body" [options]="cities" [(ngModel)]="selectedCity"
            placeholder="Select a City" optionLabel="name" [style]="{'width':'100%'}" [filter]="true" filterBy="cities"></p-dropdown>
    </span>
  
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="registerGroup()" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>


