<div class="card d-flex flex-column align-items-center card-size">
    <div class="card mt-3" style="width: 18rem;" *ngFor="let grupo of grupos">
        <img src="../../assets/playa.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{grupo.nombre}}</h5>
            <p class="card-text" style="font-weight: bold;">Destino: {{grupo.destino}}</p>
                <p-button label="Ver grupo" (click)="showgroup(grupo.id)"></p-button>
                <p-button label="Unirse" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
   
        </div>
    </div>
    
    <h1 class="mt-6 mb-8">Fin de los resultados</h1>
</div>

<p-dialog header="Header" [(visible)]="visible" [draggable]="false" [modal]="true" [style]="{ width: '90vw' }">
    <ng-template pTemplate="header">
        <h1 class="text-xl font-bold" style="font-weight: bold;">{{nombreGrupo}}</h1>
    </ng-template>
    <h3>{{destino}}</h3>
    <h5>Participantes</h5>
    <ul *ngFor="let usuario of usuarios">
        <li>{{usuario.nombres}} {{usuario.apellidos}}</li>
    </ul>
  
    <ng-template pTemplate="footer">
        <p-button icon="pi pi-check" (click)="visible = false" label="Ok" styleClass="p-button-text"></p-button>
    </ng-template>
</p-dialog>
