<!--<div class="card card-size">

  <div class="d-flex flex-column align-items-center">
    <img class="img-user" src="../../assets/userMatch.jpg" width="50%">

    <div class="d-flex mt-3 p-1">
      <p-button styleClass="p-button-rounded p-button-success me-1"><i class="fa-solid fa-phone"></i></p-button>
      <p-button styleClass="p-button-rounded p-button-info"> <i class="fa-solid fa-message"></i></p-button>
    </div>

    <div class="card card-caracteristicas w-60">
      <h2></h2>
    </div>
  
  </div>

</div>-->

<div class="card">
    <div class="card card-user"></div>
</div>

