<div class="ajustable mt-2">
  <div class="card card-ajustable">
    <div class="card-header">
      <h3 class="m-2 text-uppercase d-flex justify-content-center ">REGISTRO DE RENOVACIÓN</h3>
    </div>
    <div class="card-body">

      <div class="p-2 text-center">
        <div class="row row-cols-auto">

          <div class="card-body ajuste text-black mb-5 col" style="background: rgb(30, 78, 20); border-radius: 5px;">

            <form (ngSubmit)="search()" [formGroup]="userRenovation">

              <h3 style="color: #fff;">Ingresar datos</h3>
              <div class="input-group mb-2">
                <div class="form-floating">
                  <input type="text" class="form-control" id="floatingInputGroup1" placeholder="20530202"
                    formControlName="noControl">
                  <label for="floatingInputGroup1">Número de cliente</label>
                </div>
              </div>

              <div class="form-floating mb-2">
                <input type="text" class="form-control" id="floatingInput" placeholder="12345678" name="apellidoMate"
                  formControlName="noAdquisicion">
                <label for="floatingInput">Número de adquisición</label>
              </div>
              <button class="w-100 btn btn-lg" type="submit" style="background-color: rgb(52, 105, 39); color: #fff;"
              [disabled]="userRenovation.invalid">Buscar</button>
            </form>
          </div>

          <div class="card-body ajuste text-black col">

            <h3>Datos del Prestatario</h3>

            <div class="form-floating mb-1">
              <input type="text" class="form-control" id="floatingInput" placeholder="12345678" name="apellidoPate"
                disabled="true" [(ngModel)]="nombre">
              <label for="floatingInput">Nombre</label>
            </div>
            <div class="form-floating mb-1">
              <input type="text" class="form-control" id="floatingInput" placeholder="12345678" name="apellidoMate"
                disabled="true" [(ngModel)]="noControl">
              <label for="floatingInput">Número de cliente</label>
            </div>
            <div class="form-floating mb-1">
              <input type="text" class="form-control" id="floatingInput" placeholder="12345678" name="nombre"
                disabled="true" [(ngModel)]="carrera">
              <label for="floatingInput">Carrera</label>
            </div>

          </div>




          <div class="card-body ajuste text-black col">

            <h3>Datos del préstamo</h3>

            <div class="form-floating mb-1">
              <input type="text" class="form-control" id="floatingInput" placeholder="12345678" name="apellidoPate"
                disabled="true" >
              <label for="floatingInput">Tipo de recurso</label>
            </div>
            <div class="form-floating mb-1">
              <input type="text" class="form-control" id="floatingInput" placeholder="12345678" name="apellidoPate"
                disabled="true" >
              <label for="floatingInput">Número de ficha</label>
            </div>

            <div class="form-floating mb-1">
              <input type="text" class="form-control" id="floatingInput" placeholder="12345678" name="apellidoPate"
                disabled="true" [(ngModel)]="noAdquision">
              <label for="floatingInput">Numero de adquisición</label>
            </div>
            <div class="form-floating mb-1">
              <input type="text" class="form-control" id="floatingInput" placeholder="12345678" name="apellidoMate"
                disabled="true" [(ngModel)]="titulo">
              <label for="floatingInput">Titulo</label>
            </div>
            <div class="form-floating mb-1">
              <input type="text" class="form-control" id="floatingInput" placeholder="12345678" name="nombre"
                disabled="true" [(ngModel)]="autor">
              <label for="floatingInput">Autor</label>
            </div>
            <div class="form-floating mb-1">
              <input type="text" class="form-control" id="floatingInput" placeholder="12345678" name="nombre"
                disabled="true" [(ngModel)]="clasificacion">
              <label for="floatingInput">Clasificación CL</label>
            </div>

          </div>

          <div class="card-body ajuste text-black col">

            <h3>Datos del préstamo</h3>
            <div class="form-floating mb-1">
              <input type="text" class="form-control" id="floatingInput" placeholder="12345678" name="nombre"
                disabled="true" [(ngModel)]="fechaSalida">
              <label for="floatingInput">Fecha de salida</label>
            </div>
            <div class="form-floating mb-1">
              <input type="text" class="form-control" id="floatingInput" placeholder="12345678" name="nombre"
                disabled="true" [(ngModel)]="fechaEntrega">
              <label for="floatingInput">Fecha de renovación
                más reciente</label>
            </div>
            <div class="form-floating mb-1">
              <input type="text" class="form-control" id="floatingInput" placeholder="12345678" name="nombre"
                disabled="true" [(ngModel)]="renovacionReciente">
              <label for="floatingInput">Número de
                renovaciones</label>
            </div>
            <div class="form-floating mb-1">
              <input type="text" class="form-control" id="floatingInput" placeholder="12345678" name="nombre"
                disabled="true" [(ngModel)]="noRenovaciones">
              <label for="floatingInput">Fecha de
                entrega inicial</label>
            </div>
            <div class="form-floating mb-1">
              <input type="text" class="form-control" id="floatingInput" placeholder="12345678" name="nombre"
                disabled="true" [(ngModel)]="noRenovaciones">
              <label for="floatingInput">Fecha de
                entrega actual</label>
            </div>
            <div class="input-group mb-2">
              <div class="input-group-text" style="width: 12.5rem; font-weight: 700;">Nueva fecha de
                entrega</div>
              <input type="date" class="form-control" id="autoSizingInputGroup" style="height: 3rem;"
                [(ngModel)]="renovarFecha">
            </div>

            <div class="form-floating">
              <button type="button" class="w-100 btn btn-success mb-1" (click)="renovar()">Renovar</button>
              <button type="button" class="w-100 btn btn-danger" (click)="cancelar()">Cancelar</button>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>