<google-map 
[center]="center" 
[zoom]="zoom"
height="780px"
width="100%"
>

<map-marker
*ngFor="let marker of lugares"
[position]="{lat: marker.latitud, lng : marker.longitud}"
[label]="{color: 'red', text: marker.nombre}"
[title]="marker.nombre"
[icon]="marker.tipo == 'Playas y Cuerpos de agua'? 'https://img.icons8.com/color/344/40/potters-wheel.png' : 'https://img.icons8.com/3d-fluency/94/restaurant.png' "
#somemarker="mapMarker"
(mapClick)="openInfoWindow(somemarker, marker.nombre)">
</map-marker>

<map-info-window>{{infoContent}}</map-info-window>

</google-map>
