.card-ajustable{
    width: 95vw !important;
}
.ajustable{
    display: flex;
    justify-content: center;
}

.ajuste{
    width: 50%;
}
.card-registration .select-input.form-control[readonly]:not([disabled]) {
    font-size: 1rem;
    line-height: 2.15;
    padding-left: .75em;
    padding-right: .75em;
    }
    
    .card-registration .select-arrow {
    top: 13px;
    }

    .alumno{
        border-radius: 10px;
        height: 12rem;
        margin-top: 1rem;
    }

    .buscar{
        margin-left: 2rem;
        margin-right: 2rem;
    }

    
@media screen and (max-width: 768px) {
    .ajuste{
        width: 100%;
    }
}